
.products_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    max-width: 1450px; 
    margin: 100px 50px;
    gap: 10px;
    justify-items: center;
}

section .products_container {
    margin: 0 0px;
}